* {
  margin: 0px;
  padding-top: 3px;
}
.topBuffer {
  margin: 60px;
}

.side {
  margin: 70px;
}

.color {
  background-color: rgb(9, 148, 132);
}
::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}
